{% extends 'base.html.twig' %}

{% block title %}Créer votre tâche{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12 offset-lg-2 col-lg-8">
            <h2 class="mb-5">Modifier votre tâche</h2>
        </div>
        <div class="col-12 offset-lg-2 col-lg-8">
            {{form_start(formEditTask)}}
            <div class="form-floating mb-3">
                {{ form_widget(formEditTask.title, {
                'attr':{'placeholder':'Titre de la tâche'},
                }) }}

                {{ form_label(formEditTask.title, null, {
                'label': 'Titre de la tâche',
                'label_attr': {'class': 'col-sm-12'}
                }) }}
            </div>
            <div class="form-floating mb-3">
                {{ form_widget(formEditTask.content, {
                'attr':{'placeholder':'Description de la tâche'},
                }) }}

                {{ form_label(formEditTask.content, null, {
                'label': 'Description de la tâche',
                'label_attr': {'class': 'col-sm-12'}
                }) }}
            </div>

            <button type="submit" class="btn btn-primary">Modifier la tâche</button>
            {{form_end(formEditTask)}}
        </div>
    </div>
</div>

{% endblock %}